* {
    box-sizing: border-box;
  }

html {
    height: 100%;
    width: 100%;

}

body    { 
  background-image: url("sk.leeum copy.jpeg");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: auto;
  
}

.img  { 
  height: auto;
  width: 100%;
  opacity: 85%;
  margin-top: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;

}

.open {
  height: 50px;
  width: auto;
  color: white;
  border: transparent;
  font-size: xx-large;
  transition: ease .3s;
  animation-delay: 3s;
  text-decoration: none;
  text-shadow: 5px 5px 10px black;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;  
  margin: auto;
  cursor: pointer;

}


#modal {
	background-color: rgba(0,0,0,0.4);
	left: auto;
	height: 100%;
	width: auto;
	overflow: auto;
  display: flex;
  justify-content: center;
  margin: 10%;
  padding: 3%;

  box-shadow: 5px 5px 25px 5px;
  display: none;
 
}

#modal-textbox {
	background-color: transparent;
	height: auto;
	width: auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-style: helvetica;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}

#openModal {
  color: white;
 
  font-size: xx-large;
}

#close {
  font-style: tahoma;
  color: white;
  text-decoration: none;
  margin: 10px;
  display: flex; 
  justify-content: left; 
  border-radius: 10px;
  
}

#modal-footer {
display: flex; 
justify-content: left;
}

.modal-buttons {
	padding: 14px 18px;
	background-color: transparent;
	border: none;
	outline: none;
	font-family: 'Arial';
	cursor: pointer;
  box-shadow: 5px 5px 95px 5px black;
  display: flex;
  flex-direction: row;
  
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: fixed;
  top: 2%;
  right: 0;
  margin-right: 1%;
}

.AboutButton {
  text-align: center;
  margin: 5px;
  height: 50px;
  width: auto;
  color: white;
  border: transparent;
  font-size: x-large;
  transition: ease .3s;
  text-decoration: none;

  background-color: transparent;
  justify-content: space-evenly;

}


.ProjectButton {
  text-align: center;
  margin: 5px;
  height: 50px;
  width: auto;
  color: white;
  border: transparent;
  font-size: x-large;
  transition: ease .3s;
  text-decoration: none;

  background-color: transparent;
  justify-content: space-evenly;
 
}

.HomeButton {
  text-align: center;
  margin: 5px;
  height: 50px;
  width: auto;
  color: white;
  border: transparent;
  font-size: x-large;
  transition: ease .3s;
  text-decoration: none;

  background-color: transparent;
  justify-content: space-evenly;
  

  }

  .linkedin {
    border-radius: 8px;
    background-color: transparent;
    color: aliceblue;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
  }


.HomeButton:hover {
    opacity: 50%;  
    box-shadow: 5px 5px 35px 5px;
  }

.AboutButton:hover {
  opacity: 50%;  
  box-shadow: 5px 5px 35px 5px;
}

.ProjectButton:hover {
  opacity: 50%;  
  box-shadow: 5px 5px 35px 5px;
}

.menu {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 0;
  justify-content: right;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.hidden {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 50px;

}

#frame{
  width: 100%;
  height: 700px;
}

@media screen and (max-width: 480px) {

  .HomeButton,
  .AboutButton,
  .ProjectButton {
    font-size: medium;
    
  }
  
  #frame{
    width: 100%;
    height: 350px;
  }
}