* {
    box-sizing: border-box;
  }

html {
    height: 100%;
    width: 100%;
}

body    { 
  background-image: url("sk.leeum\ copy\ 3.jpeg");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: helvetica;

}

h1 {
  margin-left: 20px;
  color: white;
  font-size: xx-large;
  text-decoration: none;
  text-shadow: 5px 5px 10px black;
  font-family: 'Montserrat', sans-serif;  
  font-weight: 400;
  display: flex;
  justify-content: left;
}

.pic-container {
  height: 75vh;
  width: auto;
}

.pic {
  height: 45vh;
  width: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-right: 0px;
  margin-top: 20px;
  box-shadow: 5px 5px 35px 5px;

}

p {
  color: whitesmoke;
  font-size: small;
  font-style: helvetica;

  
}

.menu {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 0;
  justify-content: right;
  display: inline-block;
  cursor: pointer;
  margin: 10px;

}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.about-container {
  display: flex;
  flex-direction: row;
}

.img {
    margin-left: 10px;
    margin-right: 0;
    height: 75px;
    width: 75px;
    color: white;
    border: transparent;
    font-size: x-large;
    transition: ease .3s;
    animation-delay: 3s;
    text-decoration: none;

    background-color: transparent;
    display: flex;
    flex-direction: row;
}

a {
  margin-left: 10px;
  margin-top: 20px;
}

.headerDiv {
  display: flex;
  flex-direction: row;   
}

.img:hover {
  opacity: 50%;  
  box-shadow: 5px 5px 35px 5px;
  border-radius: 50%;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	left: auto;
	height: 50%;
	width: 60%;
	z-index: 1;
	overflow: auto;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px 5px;
  display: none;
 
}

#modal-textbox {
	background-color: transparent;
	height: auto;
	width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 3%;
  line-height: 120%;
  font-style: helvetica;
  

}

#openModal {
  border-color: transparent;
  color: white;
  border-radius: 10px;
  font-size: xx-large;
  transition: ease .3s;
  animation-delay: 3s;
  text-decoration: none;
  text-shadow: 5px 5px 10px black;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;  
  cursor: pointer;
  display: flex;

}

#close {
  font-style: tahoma;
  color: white;
  text-decoration: none;
  margin: 10px;
  border-radius: 10px;
}

#modal-footer {
  text-align: right;
  justify-content: right;
 
}

.modal-buttons {
	padding: 10px 10px;
	background-color: transparent;
	border: none;
	outline: none;
	border-radius: 350px;
	font-family: 'Arial';
	cursor: pointer;
  box-shadow: 5px 5px 95px 5px black;
  
}


.ResumeButton {
  text-align: center;
  margin: 5px;
  height: 50px;
  width: auto;
  color: white;
  border: transparent;
  font-size: x-large;
  transition: ease .3s;
  text-decoration: none;

  background-color: transparent;
  justify-content: space-evenly;
  justify-content: space-around;
  justify-content: space-between;
}

.ProjectButton {
  text-align: center;
  margin: 5px;
  height: 50px;
  width: auto;
  color: white;
  border: transparent;
  font-size: x-large;
  transition: ease .3s;
  text-decoration: none;

  background-color: transparent;
  justify-content: space-evenly;
  justify-content: space-around;
  justify-content: space-between;
}

.HomeButton {
  text-align: center;
  margin: 5px;
  height: 50px;
  width: auto;
    color: white;
    border: transparent;
    font-size: x-large;
    transition: ease .3s;
    text-decoration: none;
  
    background-color: transparent;
    justify-content: space-evenly;

  }


.HomeButton:hover {
    opacity: 50%;  
    box-shadow: 5px 5px 35px 5px;
  }

.ResumeButton:hover {
  opacity: 50%;  
  box-shadow: 5px 5px 35px 5px;
}

.ProjectButton:hover {
  opacity: 50%;  
  box-shadow: 5px 5px 35px 5px;
}

.linkedin {
    border-radius: 8px;
    background-color: transparent;
    color: aliceblue;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
  }

  .hidden {
    display: none;
  }

  .open {
    display: flex;
    justify-content: left;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 50px;

  }

  @media screen and (max-width: 768px) {
    .pic {
      height: 50%;
    }
   
}

  @media screen and (max-width: 480px) {

      .about-container{
        display: flex;
        flex-direction: row;
        height: 500px;

      }

     
      .pic {
        height: 150px;
        
      }

      p {
        font-size: 20px;
      }

      .pic-container {
        height: 200px;
      }

      .HomeButton,
      .ResumeButton,
      .ProjectButton {
        font-size: medium;
        
      }
   

  }

    @media screen and (max-width: 375px) {


      .about-container{
        display: flex;
        flex-direction: column;
      }

      #modal {
        margin-top: 10px;
      }

      .pic {
        height: 50%;
      }
      .HomeButton,
      .ResumeButton,
      .ProjectButton {
        font-size: medium;
        
      }
       

    }


