body {
  background-image: url("sk.leeum\ copy\ 2.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;  
}

h1 {
  height: 50px;
  width: auto;
  color: white;
  border: transparent;
  font-size: x-large;
  text-decoration: none;
  text-shadow: 5px 5px 30px black;  
  margin-right: 80%;
  margin-top: 2%;

}


.navContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  margin-top: 5%;
 
}

.carousel-container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-images {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 10px;
}

.carousel-images img {
  width: 100%;
  border-radius: 10px;
  opacity: 80%;
  
}

.next, .previous {
  color: antiquewhite;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 5px;
  border-radius: 80%;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.linkedin {
  border-radius: 8px;
  background-color: transparent;
  color: aliceblue;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px
  
}

.ResumeButton {
  margin: 5px;
  height: 75px;
  width: 300px;
  color: antiquewhite;
  border: transparent;
  font-size: x-large;
  transition: ease .3s;
  text-decoration: none;
  text-align: right;

  background-color: transparent;
  justify-content: space-evenly;
 
}

.AboutButton {
  margin: 5px;
  height: 75px;
  width: 300px;
  color: antiquewhite;
  border: transparent;
  font-size: x-large;
  transition: ease .3s;
  text-decoration: none;
  text-align: right;


  background-color: transparent;
  justify-content: space-evenly;

}

.HomeButton {
    margin: 5px;
    height: 75px;
    width: 300px;
    color: antiquewhite;
    border: transparent;
    font-size: x-large;
    transition: ease .3s;
    text-decoration: none;
    text-align: right;

  
    background-color: transparent;
    justify-content: space-evenly;
  
  }


.HomeButton:hover {
    opacity: 50%;  
    box-shadow: 5px 5px 35px 5px;
  }

.ResumeButton:hover {
  opacity: 50%;  
  box-shadow: 5px 5px 35px 5px;
}

.AboutButton:hover {
  opacity: 50%;  
  box-shadow: 5px 5px 35px 5px;
}


